name: Deploy to VPS (Production)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Copy files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "./"
          target: "~/apps/fishies"

      - name: Install dependencies & build
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/apps/fishies/frontend
            npm install
            npm run build

            cd ~/apps/fishies/backend
            npm install
            npm run build

            cd ~/apps/fishies
            pm2 reload ecosystem.config.js --only fishies-frontend,fishies-backend